*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
    color: black;
}

body{
    background: linear-gradient(to bottom, #D78019 0%, #D7D062 50%, #E42A04 100%);
}

.contenedor{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto 200px;
    grid-template-areas: "nav nav"
                          "main main"
                          "section section"
                          "footer footer";
  }
  
  .logo{
    grid-area: nav;
    display: flex;
    justify-content: start;
    width: 150px;
    height: 150px;
    box-shadow:10px 10px 9px 8px rgba(0,0,0,0.75);
    margin: 5px;
    border: transparent;
    border-radius: 10px;
   
  }
  
  nav{
    grid-area: nav;
    display: flex;
  }

  header{
    grid-area: nav;
    display: flex;
    justify-content: space-evenly;
  }
 header nav ul{
    list-style: none;
    display: flex;
    margin: 5px;
    flex-wrap: wrap;
    justify-content: space-evenly;

  }

 header nav ul li{
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: right
  }

  .diapositivas{
    grid-area: main;
    display: flex;
    align-content: center;
  }
  

  .principal{
    grid-area: section;
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
  }
  .pie{
    grid-area: footer;
  }

  .container{
    margin: auto;
  
    width: 100%;
    padding: 30px;
  }
  
  ul, li {
      padding: 0;
      margin: 0;
      list-style: none;
  }
  
  ul.slider{
    position: relative;
    width: 100%;
    height: 300px;
  }
  
  ul.slider li {
    position: absolute;
      left: 0px;
      top: 0px;
      opacity: 0;
      width: inherit;
      height: inherit;
      transition: opacity .5s;
      background:#fff;
  }
  
  ul.slider li img{
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  
  ul.slider li:first-child {
      opacity: 1; /*Mostramos el primer <li>*/
  }
  
  ul.slider li:target {
      opacity: 1; /*Mostramos el <li> del enlace que pulsemos*/
  }
  
  .menu{
    text-align: center;
    margin: 20px;
  }
  
  .menu li{
    display: inline-block;
    text-align: center;
  }
  
  .menu li a{
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: grey;
    padding: 10px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    border-radius: 100%;
  }

  .tarjeta1{
    width: 300px;
    height: 330px;
    background: linear-gradient(to bottom, #A91514 0%, #DDE483 100%);
    border-radius: 10px ;
    padding: 20px;
    margin: 10px;
    justify-content: space-around;
    text-align: center;
    border-style: groove;   
    border-color: black;
    box-shadow: 10px 10px 9px 8px rgba(0,0,0,0.75);
}

.tarjeta1:hover{
  transform:scale(1.15);
  transition: 1s;
}

.tarjeta2{
    width: 300px;
    height: 330px;
    background: linear-gradient(to bottom, #A91514 0%, #DDE483 100%);
    border-radius: 10px ;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    margin: 10px;
    text-align: center;
    border-style: groove;   
    border-color: black;
    box-shadow: 10px 10px 9px 8px rgba(0,0,0,0.75);
}

.tarjeta2:hover{
  transform:scale(1.15);
  transition: 1s;
}

.tarjeta3{
    width: 300px;
    height: 330px;
    background: linear-gradient(to bottom, #A91514 0%, #DDE483 100%);
    border-radius: 10px ;
    padding: 20px;
    justify-content: space-around;
    align-items: left;
    margin: 10px;
    text-align: center;
    border-style: groove;   
    border-color: black;
    box-shadow: 10px 10px 9px 8px rgba(0,0,0,0.75);
}

.tarjeta3:hover{
  transform:scale(1.15);
  transition: 1s;
}
.imRecetas{
  width: 80%;
  height: 80%;
  margin: 10px;
  padding: 10px;
  display: flex;
  background: linear-gradient(to bottom, #A91514 0%, #DDE483 100%);
}
.imPromociones{
  width: 80%;
  height: 80%;
  margin: 10px;
  padding: 10px;
  display: flex;
  background: linear-gradient(to bottom, #A91514 0%, #DDE483 100%);
}

.imTestimonios{
  width: 80%;
  height: 80%;
  margin: 10px;
  padding: 10px;
  display: flex;
  background: linear-gradient(to bottom, #A91514 0%, #DDE483 100%);
}

.pie {
  display: flex;
  align-items: flex-end;
  margin-top: 30px;
  margin-bottom: 15px;
  justify-content: space-around;
}

.login{
  display: flex;    
  justify-content: space-between;
  align-items: center;
}

.input-wrapper {
    position:absolute;
    width:200px;
    height: 30px;
    display:flex

 }
  
.input {
    box-sizing: border-box;
    color: #191919;
    padding: 15px 15px 15px 35px;
    width: 100%;
    
  }
  

.input-icon {
    color: #191919;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
  }
  
.input-icon.password {
    left: unset;
    
  }

  .contador{
      width: 50px;
  }
  .opinion{
      text-align: center;
      padding: 30px;
  }

  .boton{
      margin: 15px;
  }

  .imgCarne{
    width: 300px;
    height: 300px;
    display: block;
    margin: 0px auto;
  }

  .titulo1{
      padding: 10px;
      text-align: center;
  }

  .botonCarro{
    margin: 10px;
  }

  .imgOpinion{
    width: 300px;
    height: 250px;
    display: block;
    margin: 0px auto;
  }

  @media (max-width:700px){
    .nav{
        display: flex;
        flex-direction: column;
        align-items: center;
      }

    nav ul li{
      border-right: solid;
      text-align: justify;
    }  

    .logo{
      width: 100px;
      height: 100px;
    }
  }

  @media (max-width:340px){
    nav ul li{
      text-align: justify;
      border: none;
    }  
  }